<section class="profile">
  <p>
    <a href="http://www.vivelevendredi.com/restaurants/">
      <img style="width: 200px;" src="/assets/img/app_logo_512x512.png" alt="App Logo"/>
    </a>
  </p>
  <p class="big"><a href="http://www.newsavour.com">巴黎寻味</a></p>
  <p class="text-muted">异乡者的美食地图</p>
  <hr/>
  <p>
    <a href="https://itunes.apple.com/us/app/ba-li-xun-wei/id602259554?mt=8">
      <img src="/assets/img/badge_app_store.png" alt="Get from AppStore"/>
    </a>
  </p>
  <p>
    <a href="https://play.google.com/store/apps/details?id=net.zhengzhong.v5.android">
      <img src="/assets/img/badge_google_play.png" alt="Get from Google Play"/>
    </a>
  </p>
</section>
