<section class="profile">
  <a href="http://www.vivelevendredi.com/restaurants/">
    <img class="img-thumbnail avatar" src="/assets/img/app_logo_512x512.png" alt="App Logo"/>
  </a>
  <div class="name"><a href="http://www.vivelevendredi.com/restaurants/">巴黎寻味</a></div>
  <p class="text-muted"><big>-- 异乡者的美食地图</big></p>
  <hr/>
  <ul class="list-unstyled">
    <li class="text-nowrap">
      <span class="glyphicon glyphicon-globe"></span>
      <a href="http://www.vivelevendredi.com/restaurants/">访问我们的网站</a>
    </li>
    <li class="text-nowrap">
      <span class="fa fa-weibo"></span>
      <a href="http://www.weibo.com/vivelevendredi">关注我们的微博 @巴黎寻味</a>
    </li>
    <li class="text-nowrap">
      <span class="glyphicon glyphicon-envelope"></span>
      contact[at]vivelevendredi.com
    </li>
  </ul>
  <hr/>
  <p>
    <a href="https://itunes.apple.com/us/app/ba-li-xun-wei/id602259554?mt=8">
      <img src="/assets/img/badge_app_store.png" alt="Get from AppStore"/>
    </a>
  </p>
  <p>
    <a href="https://play.google.com/store/apps/details?id=net.zhengzhong.v5.android">
      <img src="/assets/img/badge_google_play.png" alt="Get from Google Play"/>
    </a>
  </p>
</section>
